/* Body element styling */
body {
    margin: 0;
    padding: 0;
    background-image: url('../images/stockholm.Sunset2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #feffff;
    font-family: Arial, sans-serif; /* Changed font to a sans-serif for better readability */
}

/* Landing page container styling */
.landing-page {
    text-align: center;
    margin-top: 5%; /* Increased margin-top for better spacing */
    animation: slideUp 1s ease forwards;
}

/* Dotted line styling */
.dotted-line {
    border: 2px dashed white;
    margin: 0 auto 35px;
    width: 80%;
}

/* Button styling */
button {
    padding: 15px 30px; /* Increased padding for better button size */
    background-color: #feffff;
    color: rgba(0, 0, 0, 0.799);
    font-family: Arial, sans-serif;
    border: none;
    border-radius: 25px; /* Increased border-radius for a rounded button */
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Added subtle shadow for depth */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Button hover effect */
button:hover {
    background-color: #ffffff;
}

/* Slide-up animation keyframes */
@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
