body {
    margin: 0;
    padding: 0;
    background-image: url('../images/stockholm.Sunset2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* Ensure the background covers the entire viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #feffff;
    z-index: -1;
    font-family: "Nanum Myeongjo", serif; /* Font family */
}

.landing-page {
    text-align: center; /* Center align text */
    margin-top: 1%; /* Add margin to top */
    animation: slideUp 1s ease forwards; /* Apply slide-up animation */
}

.dotted-line {
    border: 2px dashed white; /* Dashed line with 2px thickness and white color */
    margin: 0 auto 35px; /* Auto margins for horizontal centering and bottom spacing */
    width: 80%; /* Adjusted width */
    display: flex;
    justify-content: center; /* Center horizontally */
}

button {
    padding: 10px 20px;
    background-color: #feffff;
    color: rgba(0, 0, 0, 0.799);
    font-family: "Nanum Myeongjo", serif; /* Font family */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2; /* Ensure button appears above background */
}

button:hover {
    background-color: #ffffff;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
