/* Body element styling */
body {
    margin: 0;
    padding: 0;
    background-image: url('../images/stockholm.Sunset2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #feffff;
    z-index: -1;
    font-family: "Nanum Myeongjo", serif;
}

/* Landing page container styling */
.landing-page {
    text-align: center;
    margin-top: 1%; 
    animation: slideUp 1s ease forwards;
}

/* Dotted line styling */
.dotted-line {
    border: 2px dashed white; 
    margin: 0 auto 35px;
    width: 80%;
    display: flex;
    justify-content: center; 
}

/* Button styling */
button {
    padding: 10px 20px;
    background-color: #feffff;
    color: rgba(0, 0, 0, 0.799);
    font-family: "Nanum Myeongjo", serif; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2; 
}

/* Button hover effect */
button:hover {
    background-color: #ffffff;
}

/* Slide-up animation keyframes */
@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
