/* Import the Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
.background-image {
    background-image: url('../images/stockhom-background.jpg'); 
    background-size: cover;
    background-position: top;
    height: 100vh; /* Set height to 50% of the viewport height */
    position: fixed; /* Fixed position */
    top: 0; /* Align to the top of the viewport */
    left: 0;
    right: 0;
    z-index: -1; /* Move it behind other content */
}
.SecondTitle {
    margin-top: 60 px;
    margin-left: 50px;
    color: white;
    font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 35px;
  font-style: normal;

}
.SecondSubtitle {
   margin-top: -40px;
    margin-left: 50px;
    color: white;
    font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}

.floating-box {
    background-color: rgba(255, 255, 255, 0.8); 
    margin-top: 60px;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 200px;
    border-radius: 10px;
    text-align: center;
    position: fixed; /* Fixed position */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the box */
    z-index: 1; /* Ensure it's above the background image */
    transition: transform 0.3s ease; /* Smooth transition */
}

.search-form input[type="text"] {
    width: calc(100% - 120px); /* Make the input field wider */
    padding: 15px; /* Add padding for better appearance */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add border radius for rounded corners */
    margin-right: 10px; /* Add margin to separate from the button */
}
/* Adjust the search button */
.search-form button {
    width: 100px; /* Set width for the button */
    padding: 15px; /* Add padding for better appearance */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add border radius for rounded corners */
    background-color: #007bff; /* Blue color */
    color: white; /* Text color */
    cursor: pointer; /* Change cursor on hover */
}

/* Change button color on hover */
.search-form button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #063d79; /* Darker blue on hover */
}

#placesList {
    margin-top: 20px;
    text-align: left;
}

#placesList ul {
    list-style-type: none;
    padding: 0;
}

#placesList ul li {
    padding: 5px 0;
}
