*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    }
    .background-image {
        width: 500px; /* Adjust width as needed */
        height: 300px; /* Adjust height as needed */
        background-image: url('images\stockhomsunset.jpg'); /* Replace 'your-image-url.jpg' with the URL or path to your image */
        background-size: cover; /* Cover the entire background */
        background-position: center; /* Center the background */
        border-radius: 20px; /* Adjust border radius as needed */
        /*border: 10px solid rgba(255, 255, 255, 0.5); /* Adjust border width and color as needed */
    }
    .container{
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(135deg, #153677, #4e085f);
        padding: 10px;
    }
    .todo-app{
        width: 100%;
        max-width: 540px;
        background: #fff;
        margin: 100px auto 20px;
        padding: 40px 30px 70px;
        border-radius: 10px;
    }
    .todo-app h2{
        color: #002765;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .todo-app h2 img{
        width: 30px;
        margin-left: 10px;
    }
    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background:#edeef0;
        border-radius: 30px;
        padding-left: 20px;
        margin-bottom: 25px;
    
    }
    input{
        flex: 1;  /* full length */
        border: none;
        outline: none;
        background: transparent;
        padding:10px;
    }
    button{
        border: none;
        outline: none;
        padding: 16px 50px;
        background: #ff5945;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        border-radius: 40px;
    }
    ul li{
        list-style: none;
        font-size: 17px;
        padding: 12px 8px 12px 50px;
        user-select: none;
        cursor: pointer;
        position: relative;
    }
    ul li::before{
        content: '';
        position: absolute;
        height: 28px;
        width: 28px;
        border-radius:50% ;
        background-image: url(images/unchecked.png);
        background-size: cover;
        background-position: center;
        top: 12px;
        left: 8px;
    
    }
    ul li.checked{
        color: #555;
        text-decoration:line-through; 
    }
    ul li.checked::before{
        background-image: url(images/checked.png);
    }
    ul li span{
        position: absolute;
        right: 0;
        top: 5px;
        width: 40px;
        height: 40px;
        font-size: 22px;
        color: #555;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
    }
    ul li span:hover{
        background: #edeef0;
    }